import React from "react";
import style from './{{pascalCase name}}.module.scss';

interface Props {}

/**
 * {{pascalCase name}} Component:  Descripción del comportamiento...
 * @param {Props} props - Parámetros del componente como: ...
 */
export const {{pascalCase name}} = ({  }: Props) =>  {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return (
    <div className={style['{{pascalCase name}}']}>
      <p>{{pascalCase name}}</p>
    </div>
  );
}