import React from "react";
import style from './{{pascalCase name}}.module.scss';

/**
 * {{pascalCase name}} Component:  Descripción del comportamiento...
 */
export const {{pascalCase name}} = () =>  {
  // -----------------------CONSTS, HOOKS, STATES
  // -----------------------MAIN METHODS
  // -----------------------AUX METHODS
  // -----------------------RENDER
  return (
    <div className={style['{{pascalCase name}}'] }>
      <p>{{pascalCase name}}</p>
    </div>
  );
}